
<%= simple_form_for(@customer) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="mb-3">
      <%= f.input :first_name %>
    </div>
    <div class="mb-3">
      <%= f.input :last_name %>
    </div>
    <div class="mb-3">
      <%= f.input :email %>
    </div>
    <div class="mb-3">
      <%= f.input :phone_number %>
    </div>
    <div class="mb-3">
      <%= f.input :date_of_birth, html5: true %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
