<p style="color: green"><%= notice %></p>

<h1>Customers</h1>

<div id="customers">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Created at</th>
        <th scope="col">Updated at</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <th scope="row"><%= customer.id %></th>
          <td><%= customer.first_name %></td>
          <td><%= customer.last_name %></td>
          <td><%= l customer.created_at %></td>
          <td><%= l customer.updated_at %></td>
          <td><%= link_to "Show this customer", customer %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New customer", new_customer_path, class: "btn btn-primary btn-lg" %>
