<% if notice %>
  <p style="color: green"><%= notice %></p>
<% end %>

<div class="d-flex justify-content-between">
  <h1>Orders</h1>
  <div>
    <%= link_to "New order", new_order_path, class: 'btn btn-primary btn-lg' %>
  </div>
</div>

<div class="my-4 grid gap-3">
  <%= link_to orders_path(status: :pending), class: "btn btn-light rounded-pill #{@order_status == 'pending' && "active"}" do %>
    Pending <span class="badge bg-danger text-bg-secondary"><%= @pending_orders.count %></span>
  <% end %>
  <%= link_to orders_path(status: :processing), class: "btn btn-light rounded-pill #{@order_status == 'processing' && "active"}" do %>
    Processing <span class="badge bg-danger text-bg-secondary"><%= @processing_orders.count %></span>
  <% end %>
  <%= link_to orders_path(status: :completed), class: "btn btn-light rounded-pill #{@order_status == 'completed' && "active"}" do %>
    Completed <span class="badge bg-success text-bg-secondary"><%= @completed_orders.count %></span>
  <% end %>
  <%= link_to orders_path(status: :canceled), class: "btn btn-light rounded-pill #{@order_status == 'canceled' && "active"}" do %>
    Canceled <span class="badge text-bg-secondary"><%= @canceled_orders.count %></span>
  <% end %>
</div>

<div id="orders">
    <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Public ID</th>
        <th scope="col">Customer</th>
        <th scope="col">Status</th>
        <th scope="col">Updated at</th>
        <th scope="col">Created at</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <th scope="row"><%= order.id %></th>
          <td scope="row"><%= order.public_id %></td>
          <td scope="row"><%= link_to order.customer.full_name, customer_path(order.customer) %></td>
          <td scope="row"><%= order.status_text %></td>
          <td scope="row"><%= show_time_ago_if_recent order.updated_at %></td>
          <td scope="row"><%= show_time_ago_if_recent order.created_at %></td>
          <td scope="row">
            <%= link_to edit_order_path(order), class: 'btn btn-secondary' do %>
              <i class="bi bi-pencil-fill"></i>
            <% end %>
            <%= link_to order, class: 'btn btn-secondary' do %>
              <i class="bi bi-eye-fill"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= pagy_bootstrap_nav(@pagy).html_safe %>
